body {
    width: 100%;
    height: 100%;
    margin: 0 0;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 0;
}

.container {
    margin: 0px 0px;
    padding: 30px 10px;
    width: 100%;
    height: 100%;
}

.canvas-content {
    position: relative;
    margin: 0px 0px;
    /* padding: 10px 10px; */
    width: 100%;
    height: 480px;
}

.canvas-content img {
    position: absolute;
    margin: 0px 0px;
}

.sky-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #091224;
}

.background-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    background-color: #14100b;
}

.moon-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.man-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
}

.info-content {
    position: relative;
    margin: 20px auto;
    width: 100%;
    min-width: 220px;
    overflow-x: hidden;
}

.info-content span {
    font-size: 16px;
    color: #fff;
}

.info-item {
    width: 85%;
    margin: 10px auto 50px;
}